@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  background-color: #f8fafc;
  color: #0f172a;
  font-family: 'Inter', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.leaflet-container {
  z-index: 0;
  border-radius: 0.75rem;
}